.notfound-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.notfound-number {
  font-size: 200px;
  font-weight: 700;
}

.notfound-title {
  text-align: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}
