.select-wrapper {
  position: relative;
  display: inline-block;
  padding-right: 1rem;
}

.select-wrapper .categoria-select {
  appearance: none;
  background-color: transparent;
  padding: 0.5rem;
  border: 0;
  color: rgba(0, 0, 0, 0.65);
}

.select-wrapper .categoria-select:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.select-wrapper::after {
  content: "\1F81F";
  font-family: "Lucide";
  position: absolute;
  color: rgba(0, 0, 0, 0.65);
  right: 10px;
  top: 50%;
  transform: translateY(-40%);
  pointer-events: none;
}
